---
http_interactions:
- request:
    method: get
    uri: http://data.tmsapi.com/v1/sports/59/events/airings?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY&lineupId=USA-NY31586-X&startDateTime=2013-12-23T13%3A00Z
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mashery-responder:
      - prod-j-worker-lax-01.mashery.com
      content-type:
      - application/json;charset="UTF-8"
    body:
      encoding: UTF-8
      string: '[{"startTime":"2013-12-23T11:30Z","endTime":"2013-12-23T14:00Z","duration":150,"qualifiers":["HDTV"],"channels":["727"],"station":{"preferredImage":{"uri":"http://demo.tmsimg.com/sources/generic/generic_sources_h3.png"},"callSign":"TMHD3","stationId":"72831"},"stationId":"72831","program":{"tmsId":"SP002858060000","rootId":"10190471","seriesId":"191276","title":"NBA
        Basketball","titleLang":"en","genres":[],"eventTitle":"Boston Celtics at Indiana
        Pacers","gameDate":"2013-12-22","preferredImage":{"uri":"http://demo.tmsimg.com/tvbanners/generic/generic_tvbanners_v5.png"},"teams":[{"name":"Boston
        Celtics","teamBrandId":"401"},{"name":"Indiana Pacers","isHome":true,"teamBrandId":"410"}],"entityType":"Sports"}},{"startTime":"2013-12-23T11:30Z","endTime":"2013-12-23T14:00Z","duration":150,"channels":["736","777"],"station":{"preferredImage":{"uri":"http://demo.tmsimg.com/sources/h3/NowShowing/20812/s20812_h3_aa.png","height":"270","width":"360","primary":"true","category":"Logo"},"callSign":"TEAM3","stationId":"20812"},"stationId":"20812","program":{"tmsId":"SP002858060000","rootId":"10190471","seriesId":"191276","title":"NBA
        Basketball","titleLang":"en","genres":[],"eventTitle":"Boston Celtics at Indiana
        Pacers","gameDate":"2013-12-22","preferredImage":{"uri":"http://demo.tmsimg.com/tvbanners/generic/generic_tvbanners_v5.png"},"teams":[{"name":"Boston
        Celtics","teamBrandId":"401"},{"name":"Indiana Pacers","isHome":true,"teamBrandId":"410"[...]
