---
http_interactions:
- request:
    method: get
    uri: http://data.tmsapi.com/v1/celebs/13461?api_key=api_key_YYYYYYYYYYYYYYYYYYYYY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      x-mashery-responder:
      - prod-j-worker-lax-04.mashery.com
      content-type:
      - application/json;charset="UTF-8"
    body:
      encoding: UTF-8
      string: "{\"personId\":\"13461\",\"entityType\":\"Celebrity\",\"name\":{\"first\":\"Clint\",\"last\":\"Eastwood\",\"nameId\":\"13461\"},\"birthPlace\":\"San
        Francisco, California\",\"birthDate\":\"1930-05-31\",\"gender\":\"M\",\"preferredImage\":{\"uri\":\"http://demo.tmsimg.com/celebs/v3/AllPhotos/13461/13461_v3_ba.jpg\",\"height\":\"360\",\"width\":\"270\",\"category\":\"Photo
        - headshot\"},\"awards\":[{\"awardId\":\"1\",\"rootId\":\"35226\",\"tmsId\":\"MV001529640000\",\"title\":\"Million
        Dollar Baby\",\"awardName\":\"Academy Award\",\"category\":\"Best Actor\",\"awardCatId\":\"1\",\"year\":\"2004\"},{\"awardId\":\"3\",\"rootId\":\"35226\",\"tmsId\":\"MV001529640000\",\"title\":\"Million
        Dollar Baby\",\"awardName\":\"Screen Actors Guild Awards\",\"category\":\"Outstanding
        Performance by a Cast in a Motion Picture\",\"awardCatId\":\"49\",\"year\":\"2004\"},{\"awardId\":\"3\",\"awardName\":\"Screen
        Actors Guild Awards\",\"category\":\"Life Achievement Award\",\"awardCatId\":\"52\",\"year\":\"2002\",\"won\":\"true\"},{\"awardId\":\"1\",\"rootId\":\"14136\",\"tmsId\":\"MV000353840000\",\"title\":\"Unforgiven\",\"awardName\":\"Academy
        Award\",\"category\":\"Best Actor\",\"awardCatId\":\"1\",\"year\":\"1992\"},{\"awardId\":\"2\",\"awardName\":\"Golden
        Globe\",\"category\":\"Cecille B. DeMille Award\",\"awardCatId\":\"38\",\"year\":\"1988\",\"won\":\"true\"},{\"awardId\":\"2\",\"awardName\":\"Golden
        Globe\",\"category\":\"Henrietta Award (World Film Favorites)\",\"awardCatId\":\"264\",\"year\":\"1971\",\"won\":\"true\"}],\"credits\":[{\"rootId\":\"10072651\",\"role\":\"Actor\",\"characterName\":\"Joe\",\"title\":\"A
        Fistfull of Dollars\",\"tmsId\":\"MV004977720000\",\"year\":\"1964\",\"type\":\"movie\"},{\"rootId\":\"10372574\",\"role\":\"Director\",\"title\":\"Jersey
        Boys\",\"tmsId\":\"MV005317390000\",\"year\":\"2014\",\"type\":\"movie\"},{\"rootId\":\"10372574\",\"role\":\"Producer\",\"title\":\"Jersey
        Boys\",\"tmsId\":\"MV005317390000\",\"year\":\"2014\",\"type\":\"movie\"},{\"rootId\":\"10817\",\"role\":\"Director\",\"title\":\"Bird\",\"tmsId\":\"MV000250260000\",\"year\":\"1988\",\"type\":\"movie\"},{\"rootId\":\"10817\",\"role\":\"Producer\",\"title\":\"Bird\",[...]
